<games>
    <game>
        <name>Earth 2150: Escape from the Blue Planet</name>
        <language>
            <name>English</name>
            <version>
                <name>v2.8.7.1</name>
                <DownloadUrl>https://raw.githubusercontent.com/InsideEarth2150/AutoUpdater/main/xmls/Patches/Escape%20from%20the%20Blue%20Planet/2871ml.xml</DownloadUrl>
            </version>
        </language>
        <!-- Add other languages and versions as needed -->
    </game>
    <game>
        <name>Earth 2150: The Moon Project</name>
        <language>
            <name>English</name>
            <version>
                <name>v2.2.1.1</name>
                <DownloadUrl>https://raw.githubusercontent.com/InsideEarth2150/AutoUpdater/main/xmls/Patches/The%20Moon%20Project/2211en.xml</DownloadUrl>
            </version>
        </language>
        <language>
            <name>German</name>
              <version>
                <name>v2.2.1.1</name>
                <DownloadUrl>https://raw.githubusercontent.com/InsideEarth2150/AutoUpdater/main/xmls/Patches/The%20Moon%20Project/2211en.xml</DownloadUrl>
            </version>
        </language>
            <!-- Add other versions as needed -->
        </language>
        <!-- Add other languages as needed -->
    </game>
    <game>
        <name>Earth 2150: Lost Souls</name>
        <language>
            <name>English</name>
            <version>
                <name>v2.2.1.1</name>
                <DownloadUrl>https://raw.githubusercontent.com/InsideEarth2150/AutoUpdater/main/xmls/Patches/The%20Moon%20Project/2211en.xml</DownloadUrl>
            </version>
            <!-- Add other versions as needed -->
        </language>
        <!-- Add other languages as needed -->
    </game>
</games>
